<%- include('templates/header', { title: 'About' }) %>

<h1 class="mb-3">Team Information</h1>
<p>Team Name: <strong>BBY-18</strong></p>
<p>Team Members: 5</p>
<ul>
  <li>Tsang, Aaron</li>
  <li>Kadam, Kavin</li>
  <li>Fung, Samuel</li>
  <li>Mei, Meiko</li>
  <li>Bui, Son</li>
</ul>

<%- include('templates/footer') %>
