<%- include('templates/header', { title: 'Dashboard' }) %>

<div class="text-center">
  <h1 class="mb-3">Goodmorning, <%= user.name %>!</h1>
  <h4 id="location"></h4>
  <a href="/logout" class="btn btn-outline-danger mt-3">Logout</a>
</div>

<%- include('templates/footer', {
  jsFiles: ['/js/location.js']
}) %>
