<%- include('templates/header', { title: 'Dashboard' }) %>

<div class="text-center">
    <h2 id="greeting" class="mb-5 fw-bold" data-username="<%= user?.name || '' %>"></h2>

  <h3 id="current-time" class="text-center fs-8 fw-bold text-secondary"></h3>
  <h3 id="meal-time-msg" class="text-center  fs-8 fw-bold text-muted"></h3>
</div>

<script src="/js/greeting_time.js"></script>
<%- include('templates/footer') %>
