<%- include("templates/header") %>

<main>
  <h1 class="text-center text-orange">Welcome to Foodie</h1>
  <p class="text-center text-orange">Find your next favorite meal, wherever you are.</p>

  <img src="images/breadLogo.png" alt="bread logo" class="img-fluid mx-auto d-block" style="max-width: 250px; margin: 20px;" >

  <!-- Button -->
  <div class="text-center mt-3">
    <a href="/login" class="btn btn-orange fancy-hover">Get Started</a>
  </div>
</main>

<%- include("templates/footer") %>