<%- include("templates/header") %>

<main>
  <h1 class="text-center text-orange">Welcome to Foodie</h1>
  <p class="text-center text-orange">Find your next favorite meal, wherever you are.</p>

  <!-- Button -->
  <div class="text-center mt-3">
    <a href="/login" class="btn btn-orange fancy-hover">Get Started</a>
  </div>
</main>

<%- include("templates/footer") %>