<% if (typeof jsFiles !== 'undefined' && jsFiles.length > 0) { %>
    <% jsFiles.forEach(file => { %>
        <script src="<%= file %>"></script>
    <% }) %>
<% } %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
