</div>
<footer class="mt-auto py-3 bg-dark text-white">
  <div class="container d-flex justify-content-between align-items-center">
    <p class="mb-0 mx-auto">&copy; 2025 Foodie</p>
    <!--Tentative weather placement-->
    <div id="weather" class="text-light small">
      <!-- Weather dynamically inserted here -->
    </div>
  </div>
</footer>

<% if (typeof jsFiles !== 'undefined' && jsFiles.length > 0) { %>
    <% jsFiles.forEach(file => { %>
        <script src="<%= file %>"></script>
    <% }) %>
<% } %>

</body>
</html>